{% extends "handlers/handler.html" %}

{% block error %}

{% if error.description != "You don't have the permission to access the requested resource. It is either read-protected or not readable by the server." %}
    {% set description = error.description %}
{% else %}
    {% set description = 'У вас нет доступа к этой странице' %}
{% endif %}

<h3>
    {{ description }}
</h3>
<p>
    Вы не можете редактировать, удалять или другим способом воздействовать на эту страницу. Код 403
</p>

<a href="/" class="btn btn-outline-secondary">Вернуться на главную</a>

{% endblock %}