{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">

{% endblock %}

{% block content %}

<div class="text-center container row g-0">
    <div class="errors">
        {% for key in form.errors %}
            <div class="alert alert-danger" role="alert">
                {{form.errors[key]|join(' | ')}}
            </div>
        {% endfor %}
    </div>

    <div class="col-sm-6 col-md-8">
        <h2 class="margin-vertical">Карта мира</h2>
        <img src="{{ world_map }}" class="rounded" alt="Здесь должна была быть карта мира">
    </div>

    <div class="col-6 col-md-4">
        <h2 class="margin-vertical">Настройка карты</h2>
        <form action="" method="post">
            {{ form.hidden_tag() }}

            <div class="mb-3 row">
                {{ form.l.label(class='col-sm-2 col-form-label') }}
                <div class="col-sm-10">
                    {{ form.l(class='form-control') }}
                </div>
            </div>

            <div class="mb-3 row">
                {{ form.longitude.label(class='col-sm-2 col-form-label') }}
                <div class="col-sm-10">
                    {{ form.longitude(class='form-control', value=map_params['ll'].split(',')[0]) }}
                </div>
            </div>

            <div class="mb-3 row">
                {{ form.latitude.label(class='col-sm-2 col-form-label') }}
                <div class="col-sm-10">
                    {{ form.latitude(class='form-control', value=map_params['ll'].split(',')[1]) }}
                </div>
            </div>

            <div class="mb-3 row">
                {{ form.z.label(class='col-sm-2 col-form-label') }}
                <div class="col-sm-10">
                    {{ form.z(class='form-control', value=map_params['z']) }}
                </div>
            </div>

            {{ form.submit(type="submit", class="form-control register-item btn btn-primary") }}
        </form>
    </div>
</div>

{% endblock %}