{% extends "base.html" %}

{% block content %}

<h1>{{ place.name }}</h1>
<p>{{ place.description }}</p>

{% set folder_name = 'Корневая' if not path else path %}

{% if file_path is is_dir %}
    <h2 class="text-center">Папка "{{ folder_name }}"</h2>
    <div class="border item-outer">
        <div class="item-inner">
            {% if path %}
                <div class="inline-block">
                    <a href="/places/{{ user.nickname }}/delete/{{ place.id }}/{{ path }}" class="btn btn-danger">Удалить</a>
                    <a href="/places/{{ user.nickname }}/download/{{ place.id }}/{{ path }}" class="btn btn-success">Скачать</a>
                </div>

                <hr>

                {% set back_path = path.split('\\')[:-1] %}
                {% if back_path %}
                    {% set back_path = '\\' + back_path|join('\\') %}
                {% else %}
                    {% set back_path = '' %}
                {% endif %}
                <a href="/places/{{ user.nickname }}/{{ place.id }}{{ back_path }}" class="btn btn-link margin-vertical form-control">
                    Назад
                </a><br>
            {% else %}
                <form action="" method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}

                    <div class="errors">
                        {% for key in form.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{form.errors[key]|join(' | ')}}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="mb-3 row">
                        {{ form.folders.label(class='col-sm-2 col-form-label') }}
                        <div class="col-sm-10">
                            {{ form.folders(class='form-control', webkitdirectory='', directory='', required=false) }}
                        </div>
                    </div>

                    <div class="mb-3 row">
                        {{ form.files.label(class='col-sm-2 col-form-label') }}
                        <div class="col-sm-10">
                            {{ form.files(class='form-control', required=false) }}
                        </div>
                    </div>

                    {{ form.submit(type="submit", class="form-control register-item btn btn-primary") }}

                </form>
                <hr>
            {% endif %}

            {% for filename in listdir %}
                {% set filename_path = filename %}
                {% if path %}
                    {% set filename_path = [path, filename]|join('/') %}
                {% endif %}

                {% if (media_path + '/' + filename_path) is not is_dir %}
                    {% set d = 'M3.75 1.5a.25.25 0 00-.25.25v11.5c0 .138.112.25.25.25h8.5a.25.25 0 00.25-.25V6H9.75A1.75 1.75 0 018 4.25V1.5H3.75zm5.75.56v2.19c0
                        .138.112.25.25.25h2.19L9.5 2.06zM2 1.75C2 .784 2.784 0 3.75 0h5.086c.464 0 .909.184 1.237.513l3.414 3.414c.329.328.513.773.513
                         1.237v8.086A1.75 1.75 0 0112.25 15h-8.5A1.75 1.75 0 012 13.25V1.75z' %}
                {% else %}
                    {% set d="M1.75 1A1.75 1.75 0 000 2.75v10.5C0 14.216.784 15 1.75 15h12.5A1.75 1.75 0 0016 13.25v-8.5A1.75 1.75 0 0014.25 3H7.5a.25.25 0
                        01-.2-.1l-.9-1.2C6.07 1.26 5.55 1 5 1H1.75z" %}
                {% endif %}

                <div class="d-flex bd-highlight align-middle">
                    <div class="mt-1 mb-1 form-control btn btn-outline-secondary d-flex bd-highlight text-start inline-block">
                        <a href="/places/{{ user.nickname }}/{{ place.id }}/{{ filename_path }}"
                           class="inline-block link me-auto bd-highlight">
                            <svg width="16" height="16">
                                <path d='{{ d }}'></path>
                            </svg>

                            {{ filename }}
                        </a>

                        {% set path = path + '/' if path else path %}
                        <a href="/places/{{ user.nickname }}/delete/{{ place.id }}/{{ path }}{{ filename }}" class="bd-highlight">
                            <svg width="16" height="16" class="inline-block">
                                <path d="M6.5 1.75a.25.25 0 01.25-.25h2.5a.25.25 0 01.25.25V3h-3V1.75zm4.5 0V3h2.25a.75.75 0 010 1.5H2.75a.75.75 0
                                010-1.5H5V1.75C5 .784 5.784 0 6.75 0h2.5C10.216 0 11 .784 11 1.75zM4.496 6.675a.75.75 0 10-1.492.15l.66 6.6A1.75
                                1.75 0 005.405 15h5.19c.9 0 1.652-.681 1.741-1.576l.66-6.6a.75.75 0 00-1.492-.149l-.66 6.6a.25.25 0 01-.249.225h-5.19a.25.25
                                0 01-.249-.225l-.66-6.6z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% else %}
    <div class="border item-outer">
        <div class="item-inner">
            <div class="inline-block">
                <a href="/places/{{ user.nickname }}/delete/{{ place.id }}/{{ path }}" class="btn btn-danger">Удалить</a>
                <a href="/places/{{ user.nickname }}/download/{{ place.id }}/{{ path }}" class="btn btn-success">Скачать</a>
            </div>

            <hr>

            <p class="text-center">На данный момент мы не можем показать содержимое файлов с таким разрешением</p>

            <hr>

            {% set back_path = path.split('\\')[:-1] %}
            {% if back_path %}
                {% set back_path = '\\' + back_path|join('\\') %}
            {% else %}
                {% set back_path = '' %}
            {% endif %}

            <a href="/places/{{ user.nickname }}/{{ place.id }}{{ back_path }}" class="btn btn-link margin-vertical form-control">
                Назад
            </a>
        </div>
    </div>
{% endif %}

{% endblock %}
